absl-py==2.1.0
accelerate==0.31.0
addict==2.4.0
affine==2.4.0
aiohttp==3.9.5
aiohttp-cors==0.7.0
aiosignal==1.3.1
alembic==1.13.1
aniso8601==9.0.1
annotated-types==0.7.0
ansicolors==1.1.8
anyio==4.4.0
apex @ file:///opt/apex
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array-record==0.5.1
arrow==1.3.0
assertpy==1.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
Babel==2.15.0
beautifulsoup4==4.12.3
bert-score==0.3.13
bleach==6.1.0
blinker==1.8.2
blosc2==2.5.1
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
cftime==1.6.4
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
cmake==3.29.5
colorama==0.4.6
colorful==0.5.6
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
dash==2.17.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2024.5.2
dask-jobqueue==0.8.5
datasets==2.19.2
debtcollector==3.0.0
debugpy==1.8.1
decorator==5.1.1
deepspeed==0.14.2
deepspeed-kernels==0.0.1.dev1698255861
defusedxml==0.7.1
Deprecated==1.2.14
diffusers==0.28.2
dill==0.3.8
distlib==0.3.8
distributed==2024.5.2
dm-tree==0.1.8
dnspython==2.6.1
docker==7.1.0
docstring-parser==0.16
email-validator==2.1.1
entrypoints==0.4
et-xmlfile==1.1.0
etils==1.5.2
eval-type-backport==0.2.0
evaluate==0.4.2
exceptiongroup==1.2.1
executing==2.0.1
faiss==1.7.4
fastapi==0.111.0
fastapi-cli==0.0.4
fastargs==1.2.0
fastjsonschema==2.19.1
ffcv==1.0.2
filelock==3.14.0
fiona==1.9.6
flask==3.0.3
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
fvcore==0.1.5.post20221221
gensim==4.3.2
geopandas==0.14.4
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.0
google-auth==2.30.0
googleapis-common-protos==1.63.1
gpytorch==1.11
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.64.1
gunicorn==22.0.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h5py==3.11.0
hjson==3.1.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.3
idna==3.7
imageio==2.34.1
imbalanced-learn==0.12.3
importlib-metadata==7.1.0
importlib-resources==6.4.0
iniconfig==2.0.0
iopath==0.1.10
ipykernel==6.29.4
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets==8.1.3
iso8601==2.1.0
isoduration==20.11.0
itsdangerous==2.2.0
jaxtyping==0.2.29
jedi==0.19.1
jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-client==8.6.2
jupyter-core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-server==2.14.1
jupyter-server-mathjax==0.2.6
jupyter-server-terminals==0.5.3
jupyterlab==4.2.2
jupyterlab-git==0.50.1
jupyterlab-pygments==0.3.0
jupyterlab-server==2.27.2
jupyterlab-widgets==3.0.11
jupytext==1.16.2
kagglehub==0.2.6
keopscore==2.2.3
keras==3.3.3
keras-core==0.1.7
keras-cv==0.9.0
keystoneauth1==5.6.0
kiwisolver==1.4.5
lazy-loader==0.4
librosa==0.10.2.post1
lightning==2.2.5
lightning-utilities==0.11.2
linear-operator==0.5.2
linkify-it-py==2.0.3
lit==18.1.7
llvmlite==0.42.0
lmdb==1.4.1
locket==1.0.0
lxml==5.2.2
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.1
mdurl==0.1.2
memray==1.12.0
mistune==3.0.2
ml-dtypes==0.4.0
mlflow==2.13.2
mpi4py==3.1.6
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
mysql-connector-python==8.4.0
namex==0.0.8
nbclassic==1.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbdime==4.0.1
nbformat==5.10.4
ndindex==1.8
nest-asyncio==1.6.0
netaddr==1.3.0
netCDF4==1.6.5
netifaces==0.11.0
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
notebook==7.2.1
notebook-shim==0.2.4
numba==0.59.1
numexpr==2.10.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
odfpy==1.4.1
open3d==0.18.0
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.10.0.82
openpyxl==3.1.3
openslide-python==1.3.1
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
optree==0.11.0
orjson==3.10.4
os-service-types==1.7.0
oslo.config==9.4.0
oslo.i18n==6.3.0
oslo.serialization==5.4.0
oslo.utils==7.1.0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
papermill==2.6.0
parso==0.8.4
partd==1.4.2
pbr==6.0.0
peft==0.11.1
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
pooch==1.8.2
portalocker==2.8.2
prometheus-client==0.20.0
promise==2.3
prompt-toolkit==3.0.47
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py-spy==0.3.14
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1-modules==0.4.0
pybind11==2.12.0
pycodestyle==2.11.1
pycparser==2.22
pydantic==2.7.3
pydantic-core==2.18.4
pydot==2.0.0
pyflakes==3.2.0
pyg-lib @ git+https://github.com/pyg-team/pyg-lib.git@52b8eb805a11aaa828d472e8663cee076f57e305
pyglet==1.5.15
pygments==2.18.0
pykeops==2.2.3
pynndescent==0.5.12
pynvml==11.5.0
pyparsing==3.1.2
pyproj==3.6.1
pyprojroot==0.3.0
pyquaternion==0.9.9
pysqlite3==0.5.3
pytest==7.4.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-keystoneclient==5.4.0
python-multipart==0.0.9
python-swiftclient==4.6.0
pytorch-lightning==2.2.5
pytorch-pfn-extras==0.7.6
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@4ae25bfce7eb42042a34585acc3df81cf4be7d85
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
querystring-parser==1.2.4
rasterio==1.3.10
ray==2.24.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.7.1
rouge-score==0.1.2
rpds-py==0.18.1
rsa==4.9
sacrebleu==2.4.2
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.0
shapely==2.0.4
shellingham==1.5.4
shtab==1.7.1
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
snuggs==1.4.7
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
SQLAlchemy==2.0.30
sqlparse==0.5.0
stack-data==0.6.3
starlette==0.37.2
stevedore==5.2.0
sympy==1.12.1
tables==3.9.2
tabulate==0.9.0
tblib==3.0.0
tenacity==8.3.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow-datasets==4.9.3
tensorflow-metadata==1.15.0
termcolor==2.4.0
terminado==0.18.1
terminaltables==3.1.10
textual==0.66.0
threadpoolctl==3.5.0
tifffile==2024.5.22
timm==1.0.3
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.3.1+cu121
torch-cluster==1.6.3+pt23cu121
torch-geometric==2.5.3
torch-scatter==2.1.2+pt23cu121
torch-sparse==0.6.18+pt23cu121
torch-spline-conv==1.2.2+pt23cu121
torch-tb-profiler==0.4.3
torchaudio==2.3.1+cu121
torchmetrics==1.4.0.post0
torchtext==0.18.0
torchvision==0.18.1+cu121
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.41.2
triton==2.3.1
trl==0.9.4
typeguard==2.13.3
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-extensions==4.12.2
tyro==0.8.4
tzdata==2024.1
uc-micro-py==1.0.3
ujson==5.10.0
umap-learn==0.5.6
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.30.1
uvloop==0.19.0
virtualenv==20.26.2
visdom==0.2.4
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
werkzeug==3.0.3
widgetsnbextension==4.0.11
wrapt==1.16.0
xformers @ git+https://github.com/facebookresearch/xformers.git@d13b8f385d76a354a0355018560eac1aadb89862
xgboost==2.0.3
xlwt==1.3.0
xxhash==3.4.1
yacs==0.1.8
yarl==1.9.4
zict==3.0.0
zipp==3.19.2
